mixin spoiler-post(title)
  .container
    .nxu-spoilers
      details
        summary
          span.title= title
        .content
          if block
            block
          else
            p No content provided

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="./assets/default/css/style.css")
        link(rel="stylesheet", href="./assets/default/css/spoilers.css")

        title Document
    body 

        a(href="./index.html") Главная

        +spoiler-post('[CSS] Крутие фишки')
            a(href="#") Sssss 

        +spoiler-post('[CSS] Градиенты, Фоны, Паттерны')
            a(href="https://www.svgbackgrounds.com/") Красивые SVG фоны для сайта <br>
            a(href="https://philiprogers.com/svgpatterns/") Ещё один ресурс с SVG фонами для сайта <br>
            a(href="https://github.com/qrohlf/trianglify") Генератор фонов на JS <br>
            a(href="https://github.com/bansal-io/pattern.css") CSS библиотека Паттернов <br>
            a(href="https://github.com/riccardoscalco/textures") JS Создание паттернов текстур <br>
            a(href="https://mycolor.space/") Генератор градиентов <br>
            a(href="https://html5book.ru/krasivye-gradienty/") Круетые Градиенты
        +spoiler-post('[CSS] Полезные статьи')
            a(href="https://elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e") Normalize CSS or CSS Reset?!