@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgba(220, 77, 20, 0.65);
  color: #fff;
}

.container {
  display: block;
  max-width: 800px;
  margin: auto;
}

/* ---- */
@keyframes cont-anim {
  0% {
    max-height: 0px;
    filter: blur(2px) brightness(0.2);
    -webkit-filter: blur(2px) brightness(0.2);
  }
  50% {
    filter: blur(0px) brightness(1);
    -webkit-filter: blur(0px) brightness(1);
  }
  100% {
    filter: blur(0px) brightness(1);
    -webkit-filter: blur(0px) brightness(1);
    max-height: 100vh;
  }
}
.nxu-spoilers {
  padding: 10px;
}
.nxu-spoilers details {
  padding: 10px;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}
.nxu-spoilers summary .title {
  cursor: pointer;
  font-family: "Jost", sans-serif;
}
.nxu-spoilers details:not([open]) .title:after {
  display: inline;
  content: " [Закрыт] ";
  color: #888;
  float: right;
}
.nxu-spoilers details[open] .title:after {
  display: inline;
  content: " [Открыт] ";
  color: #888;
  float: right;
}
.nxu-spoilers div.content {
  font-family: Open Sans;
  font-size: 0.9rem;
  padding: 10px;
  animation: cont-anim 1s;
  animation-timing-function: linear;
  overflow: hidden;
  letter-spacing: 0.06rem;
  line-height: 2;
}
.nxu-spoilers div.content a {
  text-decoration: none;
  color: orangered;
  border-bottom: 1px dotted;
}
.nxu-spoilers details summary {
  display: block;
}
.nxu-spoilers details summary::-webkit-details-marker {
  display: none;
}
.nxu-spoilers details summary::before {
  content: "+ ";
  display: inline-block;
  padding-right: 5px;
  transform-origin: center;
  transition: 0.2s;
}
.nxu-spoilers details[open] summary::before {
  transform: rotate(45deg);
  color: #999;
}
.nxu-spoilers hr {
  margin: 10px 0;
  border: none;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(90deg, rgba(199, 199, 199, 0.5) 8%, #333333 88%);
}
.nxu-spoilers ul {
  margin-left: 18px;
  list-style: "🔴 ";
}
.nxu-spoilers ul li {
  padding-bottom: 10px;
}
.nxu-spoilers ul li::marker {
  font-size: 0.6rem;
}